

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 

}
body {
  font-size: 20px;
  background-color: #F5F5F5 !important;
}

.navbar-brand{
  position: relative;
  left: 20px;
  top:30px;
  margin: -20px;
  padding: 0;
}

a{
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat;
  color: #393939 !important;
}

p {
  font-family: Roboto;
  font-weight: 200;
  font-size: 20px;
  color: #393939 !important;
}

li {
  text-align: right;
  letter-spacing: 2px;
  font-size: 1rem;
}



#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#info1{
  margin-top: 80px;
  margin-bottom: 150px;
}

.hello {
  font-size: 6rem;
  font-weight: 800;
  margin-bottom: -10px;
  font-family: Montserrat;
}

.iam {
  font-size: 2rem;
  font-family: Montserrat;
}

#contact {
  margin-top: 110px;
  background: url(../img/back.png);
  background-size: 100%;
  padding: 40px;
  color: #fff;
  border-top:white 2px solid;
  box-shadow: -0px -3px 30px #d8d8d8 ;
}



 /* Style all font awesome icons */
 .fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: #393939;
  color: white;
  margin: 50px 5px 5px;
}


/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
  color: white;
  text-decoration: none;
}

.ottawa{
  letter-spacing: 2px;
  font-size: 1.5rem;
  font-weight: 200;
  color: #393939;
  font-family: Montserrat;
  margin-top:30px;
}

footer {
  padding: 5px;
  background-color:#393939;
  color: white;
}

footer p {
font-size: 0.7rem;
letter-spacing: 2px;
}




/*scroll*/
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}

.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 85%;
  box-shadow: inset 0 0 0 2px #707070;
  border-radius: 25px;
}

.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #707070;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1
  }

  100% {
    opacity: 0;
    transform: translateY(46px)
  }
}
/*scroll*/


/*image Grid*/
.containers {
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-auto-rows: 400px;
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.containers img {
  width: 100%;
  height: auto;
  box-shadow: 2px 2px 9px rgb(135, 135, 135);
  object-fit: cover;

}

.horizontal {
  grid-column: span 1;
}

.vertical {
  grid-row: span 1;
}

.big {
  grid-column: span 1;
  grid-row: span 1;
}
/*image Grid*/

/*Button Animation*/
.containerbtn {
  width: 400px;
  height: 400px;
  transform: translate(-0%, -0%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 3px solid #393939;
  outline: none;
  transition: 2s ease-in-out;
  color: #393939;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 7px;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 50;
  transition: 2s ease-in-out;
}

.btn:hover {
  transition: 2s ease-in-out;
  background: #393939;
  border: none;
  color: white;
}

.btn:hover svg {
  stroke-dashoffset: -500;
}
/*Button Animation*/

/********* Simple or original overlay *******/
/* Main container */
.overlay-image {
  position: relative;
  width: 100%;
 }
 /* Original image */
 .overlay-image .image {
  display: block;
  width: 100%;
  height: 100%;
 }
 /* Original text overlay */
 .overlay-image .text {
  color: #fff;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 5px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  cursor: pointer;
  
  
  
 } 

/********* Overlay on hover *******/
/* New overlay on hover */
.overlay-image .hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.721);

  
 }
 /* New overlay appearance on hover */
 .overlay-image:hover .hover {
  opacity: 1;
 }

 .ux{
   font-size: 1rem;;
   padding:.3rem !important;
  background-color: #49B7B7 !important;
  max-width: 200px  ;
  
  text-align: center;
  border-radius: 50px;
  margin:0 auto;
  margin-top: 15px;
 }

 
 .modal-content{
   border-radius: none;
   border: none;

 }
 .close{
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  width: 130px;
  z-index: 100;
   color: #393939 !important;
   text-shadow: none !important;
   opacity: 1 !important;
   padding: 1rem !important;
   font-size: 20px !important;
   font-family: Roboto;
   font-weight: 100 !important;
   line-height: 1.5em;
   letter-spacing: 4px !important;
   padding: 1rem 2rem 1rem 1rem !important;
   background-color: white !important;
 }


 




 .modal-body{
   padding: 0 !important;
 }

 .modal-body img{
  width: 100%;
  object-fit: cover;
  object-position: center;
  box-shadow: none !important;
   
 }

 .modalheader{
   height: 500px !important;
 }

 .modalBody{
   padding:1rem;
 }
 
 .title{
  font-weight: 500;
  letter-spacing: 2px;
  font-family: Roboto;
  font-size: 1.2rem;
  text-align: left !important;
  color: #393939;
}

.subtitle{
  font-weight: 200;
  font-family: Roboto;
  letter-spacing: 1px;
}

.title2{
  font-size: 1.5rem;
  text-align: left;
}

.grouptitle{
  padding:2rem;
  margin-top:10px;
}
.firstpart{
  margin: 5rem 0rem;
}

.description{
  text-align: left;
}





.modalBody img{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}



.number{
  letter-spacing: 0.2rem;
  font: Roboto;
  font-size: 17px;
}

.numberText{
  font-weight: 700 !important;
  font: Roboto !important;
  font-size: 65px;
  margin-top:-20px;
  margin-bottom: 10rem;
}













@media screen and (max-width:990px) {
  .containers{
    width:100%;
  }
  .modalheader{
    height: 300px !important;
  }
}

@media screen and (max-width:550px) {
  .modalheader{
    height: 200px !important;
  }

  #header video {
    min-width: 0 !important;
    min-height: auto !important;
    width: 400% !important;
    height: auto;
  }


}


@media (min-width: 575px){
.modal-lg {
    max-width: 90% !important;
}

}
